/* ------------------------- CSS reset ------------------------- */
html, body, main, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video, input, select, textarea{margin: 0;padding: 0;font-size: 100%;vertical-align: baseline;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}blockquote, q{quotes: none;}blockquote:before, blockquote:after,q:before, q:after{content: '';content: none;}table{border-collapse: collapse;border-spacing: 0;}input[type="submit"]{cursor: pointer;border:none;}input,select, textarea{outline: none;resize:none;-webkit-appearance:none;}html,body{height: 100%;margin:0;padding: 0;}fieldset{border:none;}

/* ------------------------- Variables ------------------------- */
:root {
  /* Base color */
  --base-color: #0063d7;
  --base-color-hover: #0054b7;
  --base-color-light: #F6F8FA;

  /* Layout */
  --header-height: 6rem;
  --spacer: 5rem;
  --sidebar-width: 20rem;
  --content-small-width: calc(100% - var(--sidebar-width) - 2rem);

  /* Fonts */
  --base-font: 'Open Sans', sans-serif;
  --base-font-color: #323232;

  /* Borders */
  --border-color: #eee;
  --border-radius: 3px;
  --input-border-color: #e3e3e3;

    /* Buttons */
  --button-height: 3.25rem;
  --button-padding: 0 2rem;

  /* Colors */
  --color-gray: #878787;
  --color-gray-light: #CBCBCB;
  --color-success: #00B53B;
  --color-success-hover: #009631;
  --color-success-light: #c3e4ac;
  --color-warning: #EF9328;
  --color-danger: #ff465c;
  --color-danger-light: #ffe8ec;
  --color-disabled: #ccc;
}

/* ------------------------- Base layout ------------------------- */
html {
  font-size: 16px;
}

body {
  font-family: var(--base-font);
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: var(--base-font-color);
}

.container {
  max-width: 1660px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.dialog-off-canvas-main-canvas {
  overflow: hidden;
}

.main-layout {
  margin-top: 2.5rem;
}

.main-layout__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.main-layout .content {
  width: 100%;
}

.main-layout--with-sidebar .content {
  width: var(--content-small-width);
}

.main-layout .sidebar {
  width: var(--sidebar-width);
}

.bottom-content {
  margin-top: var(--spacer);
}

.footer {
  margin-top: var(--spacer);
}

.is-front .footer {
  margin-top: 0;
}

.bottom_content ~ .footer {
  margin-top: 0;
}

/* ------------------------- Hidden elements ------------------------- */
.visually-hidden {
  display: none !important;
}

/* ------------------------- Animations ------------------------- */
@keyframes fadeIn {
  from {
    visibility: hidden;
    transition: all 300ms cubic-bezier(.2,0,.2,1);
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
