/**
 * @file
 * Breadcrumbs.
 */

.breadcrumbs {
  margin-bottom: 1.5rem;
}

.breadcrumbs ol {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.breadcrumbs ol li {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-gray);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 37.5rem;
}

.breadcrumbs ol li:after {
  content: '';
  display: inline-flex;
  width: 9px;
  height: 1px;
  background-color: var(--color-gray);
  margin: 0 0.3125rem;
}

.breadcrumbs ol li:last-child:after {
  display: none;
}
