/**
 * @file
 * Buttons.
 */

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: var(--button-height);
  line-height: var(--button-height);
  font-family: var(--base-font);
  background-color: var(--base-color);
  padding: 0 var(--button-padding);
  border: none;
  border-radius: var(--border-radius);
  font-weight: 600;
  white-space: nowrap;
  color: var(--color-white);
  font-size: 0.9375rem;
  cursor: pointer;
  transition: .2s ease;
}

.button::selection {
  background-color: transparent;
}

.button:hover {
  background-color: var(--base-color-hover);
  color: var(--color-white);
}

.button:focus {
  box-shadow: none;
}

.button--primary {
  box-shadow: 0 4px 10px rgba(0, 85, 185, 0.25);
}

.button[disabled], .button[disabled]:hover {
  background-color: var(--color-disabled);
  box-shadow: none;
  cursor: default;
  transition: background-color .2s ease;
}

.button--flat,
input.button--flat {
  color: var(--base-color);
  border: 1px solid var(--base-color);
  background-color: transparent;
}

.button--flat:hover {
  background-color: var(--base-color);
  color: var(--color-white);
}

.button--small {
  font-size: 0.875rem;
  height: calc(var(--button-height) * 0.75);
  line-height: calc(var(--button-height) * 0.75);
  padding: 0 calc(var(--button-padding) * .5);
}

.button--extra {
  background-color: var(--color-success);
  box-shadow: none;
}

.button--extra:hover {
  background-color: var(--color-success-hover);
}

.button--light {
  background-color: var(--base-color-light);
  color: var(--base-color);
}

.button--light:hover {
  background-color: var(--base-color);
  color: var(--color-white);
}

.button-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
