/**
 * @file
 * Forms.
 */

.contact-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact-form .form-item--error-message,
.contact-form .messages--error {
  display: none;
}

.form-item {
  margin-bottom: var(--form-item-gap);
}

.form-item label {
  display: block;
  margin-bottom: .5rem;
  font-size: 0.9375rem;
}

.form-item .description {
  margin-top: .5rem;
  font-size: 0.825rem;
  color: var(--color-gray);
}

input,
textarea,
select,
.filefield label {
  display: block;
  width: 100%;
  font-family: var(--base-font);
  height: var(--input-height);
  line-height: var(--input-height);
  border: 1px solid var(--input-border-color);
  color: var(--base-font-color);
  background-color: var(--color-white);
  padding: 0 var(--input-padding);
  border-radius: var(--border-radius);
  font-size: 0.875rem;
  transition: .2s ease;
}

textarea {
  padding: var(--input-padding);
  height: 10rem;
  line-height: 1.4;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-gray);
}

input:hover,
textarea:hover,
select:hover {
  border-color: var(--base-color);
}

input:focus,
textarea:focus,
select:focus {
  border-color: var(--base-color);
  box-shadow: 0 0 0 4px var(--base-color-light);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.error,
textarea.error,
select.error {
  border-color: var(--color-danger);
}

input[type=number] {
  -moz-appearance: textfield;
}

.js-form-type-radio,
.js-form-type-checkbox {
  position: relative;
  padding-left: 2rem;
}

input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: var(--input-checker-width);
  height: var(--input-checker-width);
  border-radius: 50%;
  transition: none;
}

input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--input-checker-width);
  height: var(--input-checker-width);
  padding: 0;
  border: 1px solid var(--input-border-color);
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
  transition: none;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1L3.52632 5L1 2.6' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-color: var(--base-color);
  border-color: var(--base-color);
}

input[type="file"] ~ .button {
  margin-top: 1rem;
}

.agreement-field .form-item {
  padding-left: 2.25rem;
}

.agreement-field label {
  position: relative;
  display: block;
  font-size: 0.9375rem;
  line-height: 1.4;
  transition: opacity .2s ease;
}

.agreement-field input {
  cursor: pointer;
  top: 1px;
}

details summary {
  margin-bottom: 1rem;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
