/* ------------------------- Modal forms ------------------------- */
.modals {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modals.is-visible {
  display: flex;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: 100;
}

.modals.is-visible .modal-overlay {
  display: block;
  animation: fadeIn .4s ease;
}

.modal-form {
  position: relative;
  display: none;
  width: 460px;
  height: auto;
  padding: 2rem 3rem;
  background-color: #fff;
  box-shadow: 0 2px 20px rgba(209, 208, 208, 0.25);
  border-radius: 5px;
  z-index: 101;
}

.modal-form.is-visible {
  display: block;
}

.modal-form__heading {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

.modal-form .form-item {
  margin-bottom: 15px;
}

.modal-form input[type="text"],
.modal-form input[type="email"],
.modal-form input[type="tel"]{
  height: calc(var(--button-height) * 0.8);
  line-height: calc(var(--button-height) * 0.8);
}

.modal-form textarea {
  height: 100px;
}

.modal-form .form-actions {
  width: 100%;
  margin-top: 1rem;
}

.close-icon {
  position: absolute;
  top: .5rem;
  right: .5rem;
  width: 40px;
  height: 40px;
  color: #fff;
  line-height: 35px;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  z-index: 9;
}

.close-icon path {
  transition: .2s ease;
}

.close-icon:hover path {
  stroke: var(--base-color);
}
