/**
 * @file
 * Modals.
 */

.modals {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modals.is-visible {
  display: flex;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: 100;
}

.modals.is-visible .modal-overlay {
  display: block;
  animation: fadeIn .4s ease;
}

.modal-block {
  position: relative;
  display: none;
  width: var(--modal-block-width);
  height: auto;
  padding: 2rem 3rem;
  background-color: var(--color-white);
  box-shadow: 0 2px 20px rgba(209, 208, 208, 0.25);
  border-radius: 5px;
  z-index: 101;
}

.modal-block.is-visible {
  display: block;
}

.modal-block__heading {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

.modal-block .form-item {
  margin-bottom: calc(var(--form-item-gap) * .8);
}

.modal-block input[type="text"],
.modal-block input[type="email"],
.modal-block input[type="tel"]{
  height: calc(var(--button-height) * .8);
  line-height: calc(var(--button-height) * .8);
}

.modal-block textarea {
  height: 6.25rem;
}

.modal-block .form-actions {
  width: 100%;
  margin-top: 1rem;
}

.close-icon {
  position: absolute;
  top: .5rem;
  right: .5rem;
  width: 2.625rem;
  height: 2.625rem;
  color: var(--color-white);
  line-height: 2.25rem;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  z-index: 9;
}

.close-icon path {
  transition: .2s ease;
}

.close-icon:hover path {
  stroke: var(--base-color);
}
