/**
 * @file
 * Swiper overrides.
 */

.swiper-container {
  position: relative;
}

.swiper-button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--base-color);
  border-radius: 50%;
  transition: .2s ease;
}

.swiper-button:hover {
  background-color: var(--base-color-hover);
}

.swiper-button:after {
  font-size: 0.8125rem;
  font-weight: 600;
}

.swiper-pagination {
  z-index: 3;
}

.swiper-horizontal > .swiper-pagination-bullets {
  bottom: -2rem;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: var(--base-color);
  margin: 0 0.4375rem;
  opacity: .3;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active {
  opacity: 1;
}
