/**
 * @file
 * Typography.
 */

/* ------------------------- Headings ------------------------- */
h1,
h2,
h3 {
  font-weight: 600;
  line-height: 1.3;
}

h1 {
  font-size: var(--font-size-h1);
  margin-bottom: 2rem;
}

h2 {
  font-size: var(--font-size-h2);
  margin-bottom: 1.25rem;
}

h3 {
  font-size: var(--font-size-h3);
  margin-bottom: 0.75rem
}

/* ------------------------- Basic text field ------------------------- */
.body-field {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
}

.body-field p {
  margin-bottom: 1rem;
}

.body-field p:last-child {
  margin-bottom: 0;
}

.body-field ul,
.body-field ol {
  margin-left: 1.25rem;
  margin-bottom: 1rem;
}

.body-field li {
  line-height: 1.5;
  margin-bottom: .6rem;
}

.body-field li:last-child {
  margin-bottom: 0;
}

.body-field strong {
  font-weight: 600;
}

.body-field blockquote {
  margin-bottom: 1.25rem;
  padding: 2.5rem 7.5rem;
}

.body-field blockquote p {
  font-weight: 400;
  font-size: 1.25rem;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}
